<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>활동 이름</th>
        <th>활동에 대한 만족도</th>
        <th>코멘트</th>
        <th>기록한 날짜</th>
        <th>코멘트,만족도 수정</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="mac : ${macs}">
        <td th:text="${mac.member.ID}"></td>
        <td th:text="${mac.member.name}"></td>
        <td th:text="${mac.act.name}"></td>
        <td th:text="${mac.SatisfyLevel}"></td>
        <td th:text="${mac.Comment}"></td>
        <td th:text="${mac.localDate}"></td>
        <td>
          <a href="#" th:href="@{/macs/{id}/edit (id=${mac.id})}"
             class="btn btn-primary" role="button">수정</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>